* {
	margin:0px;
	padding:0px;
	outline:0;
	border:none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	color:#000;
	background: #e6e6e6;
}

/** 
	Forms
**/
::-webkit-validation-bubble-message {
    padding: 1em;
}

.input {
	width: 80%;
	height: 30px;
	margin: 1% 1% 1% 10%;
	border-radius: 4px;
	padding-left: 5px;
}

.select {
	padding-top: 5px;
}

form .many {
	width: 10%;
	margin: 1% 3% 1% 0%;
}

form label {
	display: block;
	margin: 1% 1% 1% 10%;
	color: #FFF;
	font-size: 20px;
}

.loginForm input[type="submit"], form .small, .panel .backbutton{
	width: 20%;
	background: #F0F0F0;
	padding-left: 0px;
	float: left;
	margin-top: 3%;
}

.wrapper .panel .backbutton {
	margin-left: 0px;
}

form .datetime {
	height: 20%;
}

input:required:valid{
	background: #fff url(/img/valid.gif) no-repeat 98% center;
	border-color: #28BA1A;
	box-shadow: 0 0 5px #28BA1A;
}

input:required:invalid {

}

input:focus:invalid, .loginForm input.invalid {
	background: #fff url(/img/invalid.png) no-repeat 98% center;
	border-color: #ff6666;
	box-shadow: 0 0 5px #ff6666;	
}

.invalid {
	padding: 5px;
	color:#ff3734;
	background: #ccc url(/img/invalid.png) no-repeat 98% center;
}

#TaskDueDateMonth {
	margin-left: 10%;
}

.general-error {
	margin-top: 20px;
}

/** 
	Panels
**/
.panel {
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	position: absolute;
	width: 60%;
	left: 50%;
	top:20px;
	margin-left: -30%;
	padding-top: 5%;
	padding-bottom: 5%;
	background: #CCC;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7f7f7f), to(#cccccc));
	background-image: -webkit-linear-gradient(#7f7f7f, #cccccc);
	background-image: -moz-linear-gradient(#7f7f7f, #cccccc);
	background-image: -o-linear-gradient(#7f7f7f, #cccccc);
	background-image: linear-gradient(#7f7f7f, #cccccc);
}

.wrapper .panelLogin {
	height: 200px;
}

.wrapper .panelTasks {

}

.panel .task{
	width: 95%;
	margin: auto;
} 
.panel .task {
	clear: both;
}
.panel .task .row {
	width: 25%;
	float: left;
}

.panel .task .row {
	text-align: center;
	background: #CCC;
	padding-top: 5px;
	height: 25px;
	margin: 0.5px 0px;
}

.panel .loading{
	top:2px;
	left:85%;
	position: absolute;
	width: 78px;
	height: 16px;
	background: url('/img/ajax-loader.gif') no-repeat right center;
	/*padding-left: 20px;*/
}

.panel .task .link a {
	font-family: inherit;
	color:#000;
	text-decoration: none;
	margin-top:-10px;
} 

.panel .panelTitle {
	font-size: 20px;
    margin-bottom: 15px;
    color: #e6e6e6;
}





/* :::::::::::::::::::::::::::::::: [ shortcuts ] [add this add the bottom off your css ]:::::::::::::::::::::::::::: */
/* texts */
.text-left		{text-align: left!important;}
.text-right		{text-align: right!important;}
.text-center	{text-align: center!important;}
.text-justify	{text-align: justify!important;}
.text-top		{vertical-align:text-top!important;}
.text-middle	{vertical-align:text-middle!important;}
.text-bottom	{vertical-align:text-bottom!important;}
.text-none		{text-decoration: none!important;}
.underline		{text-decoration: underline!important;}
/* colors */
.white {color:#FFFFFF!important;}
.black {color:#000000!important;}
/* text transform */
.upper 	{text-transform: uppercase!important;}
.lower 	{text-transform: lowercase!important;}
.capita {text-transform: capitalize!important;}
.strike {text-decoration: line-through!important;}
/* fonts */
.italic {font-style:italic!important;}
.normal {font-style:normal !important;}
.bold	{font-weight: bold!important;}
.line-small {line-height:12px!important;}
/* font-sizes */
.font-giant {font-size:16px!important;}
.font-big	{font-size:14px!important;}
.font-normal{font-size:12px!important;}
.font-small {font-size:10px!important;}
.font-tiny {font-size:8px!important;}
/* divs */
.left	{float:left!important;}
.right  {float:right!important;}
.clear  {clear:both!important;}
.hide	{display:none!important;}
.inline {display:inline!important;}
.block  {display:block!important;}
.center {margin-left:auto;margin-right:auto!important;}
.absolute {position:absolute!important;}
.relative {position:relative!important;}
.invisible {visibility:hidden!important;}
/* mouse */
.pointer {cursor:pointer;}
/* verticals */
.vertical-bottom	{vertical-align:bottom!important;}
.vertical-top		{vertical-align:top!important;}
.vertical-middle	{vertical-align:middle!important;}
/* position background */
.bg-top-left		{background-position:top left!important;}
.bg-top-center		{background-position:top center!important;}
.bg-top-right		{background-position:top right!important;}
.bg-center-left		{background-position:center left!important;}
.bg-center-center	{background-position:center center!important;}
.bg-center-right	{background-position:center right!important;}
.bg-bottom-left		{background-position:bottom left!important;}
.bg-bottom-center	{background-position:bottom center!important;}
.bg-bottom-right	{background-position:bottom right!important;}
.bg-no-repeat		{background-repeat: no-repeat!important;}
/* ul and li */
.list-none		{list-style-type: none!important;}
.list-inside	{list-style-position:inside!important;}
.list-outside	{list-style-position:outside!important;}
/* reset */
.reset-padding {padding:0px!important;}
.reset-margin  {margin:0px!important;}
.reset-text    {font-style: normal!important;font-size:12px!important;font-weight:normal!important;text-decoration: none!important;}
.decoration-none {text-decoration: none;}